.App-logo {
    height: 40vmin;
    pointer-events: none;
    margin-top: 200px

}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background: radial-gradient(white, #011a2f);
    height: 1000px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.text{
    color: #b48608; font-family: ‘Droid serif’, serif; font-size: 46px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center;
}

